/* Variables */
:root {
  /* Colors */
  --color-red-crayola: #f9004d;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Spacing */
  --spacing-100: 1rem;
  --spacing-200: 2rem;
  --spacing-400: 4rem;
}
/* Typography */
.text-5xl {
  font-size: 4rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-xl {
  font-size: 1.125rem;
}
/* Line Height */
.line-h {
  line-height: 1.625;
}

/* Align-text */
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/* Fonts */
.text-bold {
  font-weight: bold;
}

/* Colors */
.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}
.bg-red {
  background-color: var(--color-red-crayola);
}
/* Layout */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.inner-div {
  max-width: 1280px;
  margin: auto;
}

/* Spacing */

.pt-400 {
  padding-top: var(--spacing-400);
}

.pb-400 {
  padding-bottom: var(--spacing-400);
}

.pl-400 {
  padding-left: var(--spacing-400);
}

.pr-400 {
  padding-right: var(--spacing-400);
}

.p-400 {
  padding: var(--spacing-400);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.px-400 {
  padding-left: var(--spacing-400);
  padding-right: var(--spacing-400);
}
.px-200 {
  padding-left: var(--spacing-200);
  padding-right: var(--spacing-200);
}

.py-200 {
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
}

.py-400 {
  padding-top: var(--spacing-400);
  padding-bottom: var(--spacing-400);
}

.space-x-100 > *:not(:first-child) {
  margin-left: var(--spacing-100);
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Lists */
.list-none {
  list-style: none;
}

/* Paragraphs */
p {
  margin: 0;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
span {
  color: var(--color-red-crayola);
}

/* Position */
.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

/* Z-index */
.z-50 {
  z-index: 50;
}
.z-30 {
  z-index: 30;
}

/* flex-direction */
.flex-col {
  flex-direction: column;
}
.flex-1 {
  flex: 1 1 0%;
}

/* Borders*/
.rounded-full {
  border-radius: 35px;
}

.border-solid {
  border-style: solid;
}

/* Width */
.w-full {
  width: 100%;
}
.w-4 {
  width: 90%;
}

.w-3 {
  width: 85%;
}
.w-2 {
  width: 30%;
}

/* Height */
.h-full {
  height: 100vh;
}
