/* Variables */
:root {
  /* Colors */
  --color-red-crayola: #f9004d;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Spacing */
  --spacing-100: 1rem;
  --spacing-200: 2rem;
  --spacing-400: 4rem;
}

/* Fonts */
.text-bold {
  font-weight: bold;
}

/* Colors */
.text-black {
  color: var(--color-black);
}

.text-white {
  color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}

/* Layout */
.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.inner-div {
  max-width: 1280px;
  margin: auto;
}

/* Spacing */

.pt-400 {
  padding-top: var(--spacing-400);
}

.pb-400 {
  padding-bottom: var(--spacing-400);
}

.pl-400 {
  padding-left: var(--spacing-400);
}

.pr-400 {
  padding-right: var(--spacing-400);
}

.p-400 {
  padding: var(--spacing-400);
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.px-400 {
  padding-left: var(--spacing-400);
  padding-right: var(--spacing-400);
}

.py-200 {
  padding-top: var(--spacing-200);
  padding-bottom: var(--spacing-200);
}

.py-400 {
  padding-top: var(--spacing-400);
  padding-bottom: var(--spacing-400);
}

.space-x-100 > *:not(:first-child) {
  margin-left: var(--spacing-100);
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Lists */
.list-none {
  list-style: none;
}

/* Paragraphs */
p {
  margin: 0;
  line-height: 3em;
  font-size: 16px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 45px;
  font-weight: 800;
}
span {
  color: var(--color-red-crayola);
}
/*  
.sticky {
  position: fixed;
  background-color: var(--color-red-crayola);
  z-index: 1000;
  width: 100%;
}
 */
.btn {
  background-color: var(--color-red-crayola);
  color: var(--color-white);
  border: 2px solid transparent;
  padding: 15px 30px;
  border-radius: 30px;
}
