* {
  padding: 0px;

  margin: 0px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  box-sizing: border-box;
}
.bg-dark {
  background-color: #191919;
}

.text-white {
  color: #ffffff;
}

#hero {
  height: 100vh;

  width: 100%;

  background-size: cover;

  background-position: center;

  background-color: black;

  z-index: 1000;
}

#navbar {
  position: fixed;

  width: 100%;

  padding: 30px 0px;

  transition: all 0.3s ease;

  z-index: 1000;
}

.sticky {
  position: fixed;

  top: 0;

  width: 100%;
}

.sticky-red {
  background-color: #f9004d;
}

.sticky + .navbar {
  padding-top: 102px;

  color: #f9004d;
}

.nav-menu {
  display: flex;

  align-items: center;

  justify-content: space-between;
}

.logo {
  color: white;

  font-size: 35px;

  letter-spacing: 1px;

  cursor: pointer;

  padding-left: 20px;
}

span {
  color: #f9004d;
}

nav ul li {
  list-style-type: none;

  display: inline-block;

  padding: 10px 25px;
}

nav ul li a {
  color: white;

  text-decoration: none;

  font-weight: 800;

  text-transform: capitalize;
}

nav ul li a:hover {
  color: crimson;

  transition: 1.3s ease-in-out;

  transform: scale(1.3);
}

.content {
  position: absolute;

  color: white;

  top: 50%;

  left: 8%;

  transform: translateY(-50%);
}

h1 {
  color: aliceblue;

  margin: 20px 0px 20px;

  font-size: 75px;
}

h3 {
  font-size: 25px;

  color: white;

  margin-bottom: 50px;
}

h4 {
  font-size: 20px;

  color: #fcfcfc;

  letter-spacing: 2px;
}

.about {
  width: 100%;

  padding: 00px 0px;

  background-color: #191919;
}

.img {
  height: auto;

  display: block;

  padding-top: 20px;

  padding-bottom: 25px;

  max-width: 100%;
}

.about-text {
  width: 60%;
}

.main {
  width: 1130px;

  max-width: 95%;

  margin: 0px auto;

  display: flex;

  align-items: center;

  justify-content: space-around;
}

.about-text h2 {
  color: #fcfcfc;

  padding-left: 30px;

  font-size: 75px;

  text-transform: capitalize;

  margin-bottom: 20px;
}

.about-text h3 {
  color: white;

  padding-left: 30px;

  letter-spacing: 2px;

  font-size: 22px;

  margin-bottom: 25px;

  text-transform: capitalize;
}

.about-text p {
  color: #fcfcfc;

  padding-left: 30px;

  letter-spacing: 1px;

  line-height: 28px;

  font-size: 18px;

  margin-bottom: 45px;
}

button {
  background-color: #f9004d;

  color: white;

  margin-left: 30px;

  text-decoration: none;

  border: 2px solid transparent;

  font-weight: bold;

  padding: 13px 30px;

  border-radius: 30px;
}

button:hover {
  background-color: transparent;

  border: 2px solid #f9004d;

  cursor: pointer;
}

.row {
  display: flex;
}

.column {
  flex: 50%;

  padding: 10px;

  height: fit-content;
}

/* resume style*/

.resume {
  max-width: 100%;

  margin: auto;

  display: flex;

  flex-basis: 50%;

  height: 350px;

  background-color: #101010;

  align-content: center;

  align-items: center;
}
.column h2 {
  font-size: 25px;

  color: #f9004d;

  text-align: center;
}

.column p {
  width: 550px;

  letter-spacing: 1px;

  line-height: 28px;

  font-size: 18px;

  text-align: center;

  background-color: none;
}

/* skils css*/
.container {
  width: 80%;

  background-color: #ddd;

  max-height: fit-content;

  padding: 2px;
}

.column h1 {
  font-size: 25px;
}

.skills {
  text-align: right;

  padding-top: 10px;

  padding-bottom: 10px;

  color: white;
}

.html {
  width: 90%;
  background-color: #04aa6d;
}

.css {
  width: 80%;
  background-color: #2196f3;
}
.js {
  width: 65%;
  background-color: #f44336;
}

/*  service section css*/
.service {
  background-color: #191919;

  width: 100%;

  padding: 100px 0px;
}

.title h2 {
  color: white;

  font-size: 75px;

  width: 75%;

  margin: 30px auto;

  text-align: center;
}

.box {
  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 400px;
}

.card {
  height: 365px;

  width: 25%;

  padding: 20px 35px;

  background: #191919;

  border-radius: 20px;

  margin: 15px;

  position: relative;

  overflow: hidden;

  text-align: center;
}

.card i {
  font-size: 50px;

  display: block;

  text-align: center;

  margin: 25px 0px;

  color: #f9004d;
}

h5 {
  color: white;

  font-size: 23px;

  margin-bottom: 15px;
}

.pra p {
  color: #fcfcfc;

  font-size: 16px;

  line-height: 27px;

  margin-bottom: 25px;
}

.card .button {
  background-color: #f9004d;

  color: white;

  text-decoration: none;

  border: 10px solid transparent;

  font-weight: bold;

  padding: 9px 22px;

  border-radius: 30px;

  transition: 4s;
}

.card .button:hover {
  background-color: transparent;

  border: 2px solid #f9004d;

  cursor: pointer;
}

/*Contact css*/
.contact {
  align-content: center;
}

.contact a {
  text-align: center;

  font-style: italic;

  padding-left: 186px;
}
input[type="text"],
select,
textarea {
  width: 100%;

  padding: 12px;

  border: 1px solid rgb(8, 6, 6);

  box-sizing: border-box;

  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;

  display: inline-block;
}

.col-25 {
  width: 25%;

  margin-top: 6px;
}

.col-75 {
  width: 75%;

  margin-top: 6px;
}

.row:after {
  content: "";

  display: table;

  clear: both;
}

@media screen and (max-width: 100%) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;

    margin-top: 0;
  }
}

footer {
  position: relative;

  width: 100%;

  height: 400px;

  background-color: #101010;

  display: flex;

  align-items: center;

  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;

  color: white;

  margin-bottom: 20px;

  font-weight: bold;
}

footer p:nth-child(2) {
  font-size: 17px;

  color: white;

  width: 50%;

  text-align: center;

  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;

  height: 45px;

  display: flex;

  align-items: center;

  justify-content: center;

  background-color: #f9004d;

  border-radius: 50%;

  margin: 22px 10px;

  color: white;

  text-decoration: none;

  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3);

  transition: 0.3s;
}

footer .end {
  position: absolute;

  color: #f9004d;

  bottom: 10px;

  font-size: 2px;
}

@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;

    padding: 0;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
